* {
  /* Calculates the size of box based on box size
      rather than size of content
  */
  box-sizing: border-box;
}

body {
  background-color: #17181F;
  color: #ddd;
}

main {
  max-width: 360px;
  margin: 30px auto;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}
h1 span {
  display: inline-block;
  margin-top: 6px;
  font-size: 1rem;
  vertical-align: top;
}
form {
  margin-top: 20px;
}

form input {
  background-color: transparent;
  border: 2px solid #30313d;
  border-radius: 5px;
  color: #ddd;
  padding: 2px 5px;
  width: 100%;
}

form input[type="datetime-local"] {
  color: #777;
}

form div.basics {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  background-color: #ddd;
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

div.transactions{
  margin-top: 10px;
}

div.transaction {
  border-top: 1px solid #30313d;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
div.transaction:first-child{
  border-top: 0;
}
div.transaction div.name{
  font-size: 1rem;
}

div.transaction div.description{
  color: #888;
  font-size: 0.7rem;
}

div.right{
  text-align: right;
}

div.price.green{
  color: #1c1;
}

div.price.red {
  color: #c11;
}

div.transaction div.datetime{
  color: #888;
  font-size: 0.7rem;
}